.ant-layout {
    height: 100%;
}
.ant-layout.site-layout {
 background-color: #fff;
}
.ant-layout-content.site-layout-background,
.ant-layout.site-layout {
    background-color: #fff;
}
.ant-layout-content {
    padding: 45px;
}