.ant-carousel .slick-prev,
.ant-carousel .slick-next,
.ant-carousel .slick-prev:hover,
.ant-carousel .slick-next:hover {
  font-size: inherit;
  color: #000;
}
h3 {
    color: #fff;
    line-height: 400px;
    text-align: center;
    background: #1890ff
}